:root {
    --font: "Oxygen", sans-serif;
    --primary: #42e2b8;
    --gradient: linear-gradient(135deg, #fad7a1 0%, #e96d71 100%);
    --black: black;
}

body {
    font-family: var(--font);
    background: var(--gradient);
    display: block;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.logo {
    display: inline-block;
    font-weight: 700;
}

.u-wrapper {
    max-inline-size: 1112px;
    margin: 0 auto;
    padding: 0 1em;
    /* border: 1px solid red; */
}

.header {
    margin: 16px 0;
    /* position: sticky;
    top: 0; */
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 59px;
    line-height: 95px;
    font-weight: 700;
    margin: 1rem 0;
    /* text-align: left; */
}

.h1 span {
    display: block;
}

.h3 {
    font-size: 48px;
    line-height: 77px;
}

.social {
    display: none;
}

.social.mobile {
    display: inline-block;
}

.social-item {
    background: var(--primary);
    display: inline-block;
    inline-size: 44px;
    block-size: 44px;
    text-align: center;
    line-height: 44px;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid var(--black);
}

.social-item + .social-item {
    margin-left: 1em;
}

.social-item img {
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.btn {
    font-family: var(--font);
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    /* line-height: 50px; */
    border: 2px solid var(--black);
    font-weight: 700;
    margin: 8px 0;
    
}

.btn.primary {
    background: var(--primary);
    margin: 16px 0;
    margin-bottom: 80px;
    box-shadow: -4px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.btn.secondary {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
}

.btn.primary.curriculum {
    width: auto;
    font-size: 14px;
    vertical-align: middle;
    padding: 13px 24px;
    display: inline-block;
    margin: 0;
}

.btn.secondary img {
    position: relative;
    bottom: 0px;
    padding-right: 9px;
}

.btn i {
    display: inline-block;
}
.btn span {
    vertical-align: middle;
}
.btn i img {
    vertical-align: middle;
}
.hero {
    /* border: 1px solid red; */
    margin-bottom: 40px;
}

.hero-content img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.comment {
    text-align: center;
    /* border: 1px solid red; */
    /* padding: 0; */
    padding: 40px 0;
    margin-top: 40px;
}

.comment p {
    font-weight: normal;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 0.005em;
}
.comment h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
}

.comment img {
    /* border: 1px solid red; */
}

.project {
    margin-top: 40px;
}

.project-image {
     max-width: 100%;
    /* margin: 0; */
}

.project-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    display: inline-block;
    background: var(--black);
    color: var(--primary);
    padding: 4px 8px;
    box-shadow: -4px 4px 0px #FFFFFF;
    margin-bottom: 0;
}

.project-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 16px 0;
    margin: 0;
}


.project-commentary {
    margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
  padding: 28px;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
}

.project-commentary i {
    content: "";
  position: absolute;
  backdrop-filter: blur(39.7657px);

  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5rem;
  padding: 4px; /* the thickness of the border */
  /* the below will do the magic */
  -webkit-mask: linear-gradient(#fff 0 0) content-box,
    /* this will cover only the content (no padding) */
      linear-gradient(#fff 0 0) padding-box; /* this will cover the content and the padding */
  -webkit-mask-composite: destination-out; /* needed for old browsers until the below is more supported */
  mask-composite: exclude; /* this will exclude the first layer from the second so only the padding area will be kept visible */
  }
  
  .project-commentary i::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.75) 0,
        rgba(255, 255, 255, 0) 40%
    );
    transition: transform 0.7s linear;
  }

.project img {
    display: block;
    margin: 0 auto;
}

.commentary {
    margin: 24px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5%;
}

.author {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: rgba(0,0,0,0.5);
    margin: 0;
}


.contact-me .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    display: inline-block;
    background: var(--black);
    color: var(--primary);
    padding: 4px 8px;
    box-shadow: -4px 4px 0px #FFFFFF;
    margin-bottom: 0;
    margin-top: 40px;
}

.contact-me .msg {
    /* border: 1px solid red; */
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5%;
}

.contact-me label {
    display: block;
    margin-left: 16px;
    margin-bottom: 8px;
}

.contact-me .required::after {
    content: '*';
    font-family: 'Source Sans Pro';
    color: rgba(218,20,20,1);
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
    bottom: 3px;
    left: 1px;
}

.contact-me input {
    box-sizing: border-box;
    width: 100%;
    background: white;
    border: 1px solid rgba(133,140,148,1); 
    border-radius: 8px;
    padding: 12px 16px;
    margin-bottom: 16px; 
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5%;
    /* position: relative; */
}

.contact-me textarea {
    border: 1px solid rgba(133,140,148,1); 
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.footer-mobile {
    text-align: center;
}

.footer-mobile p {
    font-weight: 400;
    font-size: 16px;
}

.footer-mobile p img {
    position: relative;
    top: 4px;
    padding: 0 2px;
}

.footer {
    display: none;
}

.logo {
    font-family: Poppins;
    font-size: 24px;
}

.index {
    display: none;
}

@media (min-width: 1280px) {
    body {
        background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    }
    .header-content button::before{
        content: 'Descargar '
    }
    .circle {
        position: absolute;
        z-index: -2;
        width: 400px;
        height: 400px;
        /* backdrop-filter: blur(199px); */
    }
    
    .circle:nth-child(1){
        left: -180px;
        top: 68px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(191, 53, 142, 0.5) 0%, rgba(191, 53, 142, 0) 100%);
    
    }

    .circle:nth-child(2){
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
        left: 377px;
        top: 544px;
    }

    .circle:nth-child(3){
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
        left: 0;
        top: 1524px;
    }
    .circle:nth-child(4){
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
        right: 0;
        top: 2459px;
    }

    .circle:nth-child(5){
        background: radial-gradient(155% 155% at 50% 50%, rgba(40, 234, 232, 0.4) 0%, rgba(40, 234, 232, 0) 28.86%);
        left: -35px;
        top: 4000px;
    }
    
    .u-wrapper {
        padding: 0;
    }

    .hero-content {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-content img {
        width: 50%;
        height: 50%;
        margin-right: 0;
    }

    .hero-text {
        padding-top: 75px;
        width: 449px;
    }

    .comment p {
        font-size: 34px;
        font-weight: 300;
        line-height: 55px;
    }

    .comment h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 39px;
    }

    .comment {
        padding-bottom: 200px;
    }

    .project {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .project:nth-child(even) {
        flex-direction: row;
    }

    .project-image {
        padding: 80px 0;
        padding-left: 24px;
        box-sizing: border-box;
        width: 50%;
        /* border: 1px solid red; */
        object-fit: contain;
        max-height: 650px; 
    }
    
    .project-side {
        /* border: 1px solid red; */
        width: 45%;
        display: inline-block;
        box-sizing: border-box;
    }

    .project-commentary {
        margin: 80px 0;
        padding: 80px;
        width: 100%;
    }

    .project-commentary .commentary {
        margin: 24px 0;
    }

    .buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 16px;
    }

    .btn {
        display: inline-block;
        padding: 13px 24px;
        width: auto;
    }
    .btn:is(.primary, .secondary) {
        margin: 0;
        margin-top: 16px;
    }

    .project-commentary {
        text-align: center;
    }
    .project-commentary .commentary {
        font-size: 24px;
        line-height: 55.01px;
        font-weight: 700;
    }

    .project-commentary .author {
        font-size: 16px;
        line-height: 38.83px;
    }
    .contact-me {
        margin: 80px 294.5px;
    }

    .contact-me .title {
        display: block;
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        line-height: 55.01px;
    }

    .contact-me .msg {
        text-align: center;
    }

    .contact-me .btn.primary {
        display: block;
        width: 100%;
    }

    .footer-mobile {
        display: none;
    }

    .footer {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer p.center{
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 25.89px;
        letter-spacing: 0.5%;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .index {
        display: inline-block;
    }

    .index ul {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    .index li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: rgba(0,0,0,0.5);
        letter-spacing: 1.25px;
        font-size: 14px;
        font-weight: 700px;
        line-height: 23px ;
        transition: color 0.2s;
    }

    a:hover, a.active{
        color: black;
    }
    .social.mobile {
        display: none;
    }

    .social {
        display: inline-block;
    }
    .social .item-desktop {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .social .item-desktop img {
        width: 24px;
    }

    .item-desktop p {
        margin: 16px 0;
    }

    .item-desktop a {
        font-size: 16px;
        text-decoration: underline;
        color: black;
    }
}